.userid {
  color: "#737373";
  position: relative;
  top: -8px;
}

.username {
  position: relative;
  top: -2px;
  font-size: 1.2rem;
}

@media (max-width: 520px) {
  .userid {
    display: none;
  }
  .username {
    display: none;
  }
}
